body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #11C76F, #1565c0);
  height: 100%;
}

.conteudo {
  min-height: 100%;
  width: 500px;
  padding: 30px;
  position: absolute;
  left: 35%;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: 0.25s;
  margin-top: 0px;
}

.conteudo input[type=text]:focus {
  width: 300px;
  border-color: #2ecc71;
}

.conteudo table {
  width: 100%;
}

.conteudo table tr {
  border-bottom: 0.5px solid rgba(87, 87, 87, 0.822);
}


.conteudo input[type=text] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.conteudo input[type=submit] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.conteudo input[type=submit]:hover {
  background: #2ecc71;
}

.nav nav-text {
  color: white;
  padding: 5px;
}

.nav a {
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0);
  color:rgba(255, 255, 255);
}

.nav a:hover {
  color: #2ecc71;
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 60%;
  background-color: rgba(19, 19, 19, 0.6);
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
}

.box input[type=text],
.box input[type=email],
.box input[type=password] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1, .box .h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box label {
  text-align: left;
  color: white;
  text-transform: uppercase;
}

.box input[type=text]:focus,
.box input[type=email]:focus,
.box input[type=password]:focus {
  width: 300px;
  border-color: #2ecc71;
}

.box input[type=submit] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type=submit]:hover {
  background: #2ecc71;
}

.forgot {
  text-decoration: underline;
}
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';